* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Open Sans", sans-serif;
}

header,
main {
  padding: 16px;
  text-align: center;
}

header {
  margin-top: 16px;
}

nav {
  margin-top: 16px;
}

footer {
  padding: 16px 16px 48px 16px;
  text-align: center;
}

h2 {
  margin-top: 10px;
  margin-bottom: 20px;
}

img {
  width: 300px;
}

ul {
  list-style-type: none;
}

li {
  padding-bottom: 5px;
}

a {
  text-decoration: none;
  color: black;
}

input[type="email"] {
  width: 280px;
  padding: 5px;
  margin-bottom: 16px;
  outline: none;
  border: 0.5px solid grey;
}

input[type="submit"] {
  width: 150px;
  padding: 8px;
  margin-bottom: 64px;
  text-transform: uppercase;
  font-weight: bold;
  color: black;
  background-color: #ffae19;
  border: none;
  border-radius: 5px;
}

input[type="submit"]:hover {
  background-color: black;
  color: #ffae19;
}

::placeholder {
  font-size: 14px;
}

iframe {
  margin-bottom: 32px;
}

.services {
  width: 300px;
  border: 1px solid black;
  margin: 16px auto;
}

.services:last-child {
  margin-bottom: 48px;
}

.level {
  background-color: #dbdbdb;
  padding: 8px 0;
  font-weight: bolder;
}

.btn {
  text-transform: uppercase;
  font-weight: bolder;
  border: none;
  border-radius: 5px;
  width: 100px;
  padding: 8px;
  margin: 16px 0;
  background-color: #ffae19;
}

.btn:hover {
  background-color: black;
  color: #ffae19;
}

footer {
  background-color: #dbdbdb;
}

.footer-nav {
  display: inline-block;
  margin-bottom: 16px;
}

.footer-nav li {
  font-weight: bolder;
  display: inline-block;
  padding: 8px;
}

.description {
  margin-bottom: 48px;
}

.svg-img {
  width: 50px;
}
